In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('car data.csv')

In [5]:
df.shape
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
print(df['Seller_Type'].unique())
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [7]:
##check missing values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [8]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [9]:
final_dataset=df[['Year','Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]

In [10]:
final_dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [11]:
final_dataset['Current Year']=2020

In [12]:
final_dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current Year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2020
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2020
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2020
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2020
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2020

In [13]:
final_dataset['no_year']=final_dataset['Current Year']- final_dataset['Year']

In [14]:
final_dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current Year,no_year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2020,6
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2020,7
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2020,3
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2020,9
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2020,6

In [15]:
final_dataset.drop(['Year'],axis=1,inplace=True)

In [16]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current Year,no_year
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,2020,6
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,2020,7
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,2020,3
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,2020,9
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,2020,6

In [17]:
# final_dataset=pd.get_dummies(final_dataset,drop_first=True)
final_dataset=pd.get_dummies(final_dataset,drop_first=True)

In [18]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,Current Year,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,2020,6,0.0,1.0,0.0,1.0
1,4.75,9.54,43000,0,2020,7,1.0,0.0,0.0,1.0
2,7.25,9.85,6900,0,2020,3,0.0,1.0,0.0,1.0
3,2.85,4.15,5200,0,2020,9,0.0,1.0,0.0,1.0
4,4.60,6.87,42450,0,2020,6,1.0,0.0,0.0,1.0

In [19]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,Current Year,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,2020,6,0.0,1.0,0.0,1.0
1,4.75,9.54,43000,0,2020,7,1.0,0.0,0.0,1.0
2,7.25,9.85,6900,0,2020,3,0.0,1.0,0.0,1.0
3,2.85,4.15,5200,0,2020,9,0.0,1.0,0.0,1.0
4,4.60,6.87,42450,0,2020,6,1.0,0.0,0.0,1.0

In [20]:
final_dataset=final_dataset.drop(['Current Year'],axis=1)

In [21]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,6,0.0,1.0,0.0,1.0
1,4.75,9.54,43000,0,7,1.0,0.0,0.0,1.0
2,7.25,9.85,6900,0,3,0.0,1.0,0.0,1.0
3,2.85,4.15,5200,0,9,0.0,1.0,0.0,1.0
4,4.60,6.87,42450,0,6,1.0,0.0,0.0,1.0

In [22]:
final_dataset.corr()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
Selling_Price,1.000000,0.878983,0.029187,-0.088344,-0.236141,0.552339,-0.540571,-0.550724,-0.367128
Present_Price,0.878983,1.000000,0.203647,0.008057,0.047584,0.473306,-0.465244,-0.512030,-0.348715
Kms_Driven,0.029187,0.203647,1.000000,0.089216,0.524342,0.172515,-0.172874,-0.101419,-0.162510
Owner,-0.088344,0.008057,0.089216,1.000000,0.182104,-0.053469,0.055687,0.124269,-0.050316
no_year,-0.236141,0.047584,0.524342,0.182104,1.000000,-0.064315,0.059959,0.039896,-0.000394
Fuel_Type_Diesel,0.552339,0.473306,0.172515,-0.053469,-0.064315,1.000000,-0.979648,-0.350467,-0.098643
Fuel_Type_Petrol,-0.540571,-0.465244,-0.172874,0.055687,0.059959,-0.979648,1.000000,0.358321,0.091013
Seller_Type_Individual,-0.550724,-0.512030,-0.101419,0.124269,0.039896,-0.350467,0.358321,1.000000,0.063240
Transmission_Manual,-0.367128,-0.348715,-0.162510,-0.050316,-0.000394,-0.098643,0.091013,0.063240,1.000000

In [23]:
import seaborn as sns

ImportError: No module named seaborn

In [ ]:
sns.pairplot(final_dataset)

In [ ]:

import seaborn as sns
#get correlations of each features in dataset
corrmat = df.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(20,20))
#plot heat map
g=sns.heatmap(df[top_corr_features].corr(),annot=True,cmap="RdYlGn")

In [24]:
X=final_dataset.iloc[:,1:]
y=final_dataset.iloc[:,0]

In [25]:
X['Owner'].unique()

array([0, 1, 3], dtype=int64)

In [26]:
X.head()

,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,5.59,27000,0,6,0.0,1.0,0.0,1.0
1,9.54,43000,0,7,1.0,0.0,0.0,1.0
2,9.85,6900,0,3,0.0,1.0,0.0,1.0
3,4.15,5200,0,9,0.0,1.0,0.0,1.0
4,6.87,42450,0,6,1.0,0.0,0.0,1.0

In [27]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [28]:
### Feature Importance

from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X,y)

C:\Users\omkar\Anaconda2\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None,
          min_impurity_decrease=0.0, min_impurity_split=None,
          min_samples_leaf=1, min_samples_split=2,
          min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
          oob_score=False, random_state=None, verbose=0, warm_start=False)

In [29]:
print(model.feature_importances_)

[2.32440795e-01 3.95347510e-02 3.39274843e-04 6.93879452e-02
 3.05078690e-01 1.99803150e-04 1.54934365e-01 1.98084375e-01]

In [30]:
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(5).plot(kind='barh')
plt.show()

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [32]:
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [33]:
regressor=RandomForestRegressor()

In [34]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
print(n_estimators)

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

In [35]:
from sklearn.model_selection import RandomizedSearchCV

In [36]:
 #Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

In [37]:
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'min_samples_split': [2, 5, 10, 15, 100], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_leaf': [1, 2, 5, 10]}

In [38]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()

In [39]:
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)

In [40]:
rf_random.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5, total=   1.5s
[CV] n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.5s remaining:    0.0s

[CV]  n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5, total=   1.9s
[CV] n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5
[CV]  n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5, total=   2.9s
[CV] n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5
[CV]  n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5, total=   3.0s
[CV] n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5
[CV]  n_estimators=900, min_samples_split=5, max_depth=10, max_features=sqrt, min_samples_leaf=5, total=   2.9s
[CV] n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2, total=   3.7s
[CV] n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2, total=   3.7s
[CV] n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2, total=   4.1s
[CV] n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2, total=   3.7s
[CV] n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=1100, min_samples_split=10, max_depth=15, max_features=sqrt, min_samples_leaf=2, total=   3.7s
[CV] n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5, total=   1.0s
[CV] n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5, total=   0.9s
[CV] n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5, total=   0.9s
[CV] n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5, total=   0.9s
[CV] n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=300, min_samples_split=100, max_depth=15, max_features=auto, min_samples_leaf=5, total=   0.9s
[CV] n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5, total=   1.6s
[CV] n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5, total=   1.3s
[CV] n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5, total=   1.4s
[CV] n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5, total=   1.3s
[CV] n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5
[CV]  n_estimators=400, min_samples_split=5, max_depth=15, max_features=auto, min_samples_leaf=5, total=   1.4s
[CV] n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10
[CV]  n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10, total=   2.4s
[CV] n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10
[CV]  n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10, total=   2.3s
[CV] n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10
[CV]  n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10, total=   2.4s
[CV] n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10
[CV]  n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10, total=   2.4s
[CV] n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10
[CV]  n_estimators=700, min_samples_split=5, max_depth=20, max_features=auto, min_samples_leaf=10, total=   2.4s
[CV] n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1, total=   3.5s
[CV] n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1, total=   3.6s
[CV] n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1, total=   3.9s
[CV] n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1, total=   3.6s
[CV] n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=1000, min_samples_split=2, max_depth=25, max_features=sqrt, min_samples_leaf=1, total=   3.5s
[CV] n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10
[CV]  n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10, total=   3.7s
[CV] n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10
[CV]  n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10, total=   3.8s
[CV] n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10
[CV]  n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10, total=   4.0s
[CV] n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10
[CV]  n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10, total=   3.6s
[CV] n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10
[CV]  n_estimators=1100, min_samples_split=15, max_depth=5, max_features=sqrt, min_samples_leaf=10, total=   3.6s
[CV] n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1, total=   0.9s
[CV] n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1, total=   0.9s
[CV] n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1, total=   1.0s
[CV] n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1, total=   0.9s
[CV] n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1
[CV]  n_estimators=300, min_samples_split=15, max_depth=15, max_features=sqrt, min_samples_leaf=1, total=   1.0s
[CV] n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2, total=   2.3s
[CV] n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2, total=   2.3s
[CV] n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2, total=   2.3s
[CV] n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2, total=   2.3s
[CV] n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2
[CV]  n_estimators=700, min_samples_split=10, max_depth=5, max_features=sqrt, min_samples_leaf=2, total=   2.4s
[CV] n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1
[CV]  n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1, total=   2.4s
[CV] n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1
[CV]  n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1, total=   2.4s
[CV] n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1
[CV]  n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1, total=   2.5s
[CV] n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1
[CV]  n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1, total=   2.4s
[CV] n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1
[CV]  n_estimators=700, min_samples_split=15, max_depth=20, max_features=auto, min_samples_leaf=1, total=   2.4s

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  2.2min finished

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=10, n_jobs=1,
          param_distributions={'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'min_samples_split': [2, 5, 10, 15, 100], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_leaf': [1, 2, 5, 10]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring='neg_mean_squared_error',
          verbose=2)

In [41]:
rf_random.best_params_

{'max_depth': 25,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [42]:
rf_random.best_score_

-4.058643719440489

In [43]:
predictions=rf_random.predict(X_test)

In [44]:
sns.distplot(y_test-predictions)

NameError: name 'sns' is not defined

In [ ]:
plt.scatter(y_test,predictions)

In [45]:
from sklearn import metrics

In [46]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

('MAE:', 0.8927464697802209)
('MSE:', 4.040053451420387)
('RMSE:', 2.009988420717987)

In [47]:
import pickle
# open a file, where you ant to store the data
file = open('random_forest_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(rf_random, file)